PORT=10000
NODE_ENV=production
APP_USERNAME=admin
APP_PASSWORD=
CAMERA_NAME=Mi Camara
CAMERA_HOST=
CAMERA_PORT=80
CAMERA_USERNAME=
CAMERA_PASSWORD=
CAMERA_RTSP_URL=
CAMERA_ONVIF_URL=
ENABLE_STREAM=false
ENABLE_RECORDING=false
RECORDING_RETENTION_HOURS=24
